@model IEnumerable<MVC_DotNet.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Information : </strong> @TempData["InfoMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success : </strong> @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error : </strong> @TempData["ErrorMessage"]
    </div>
}

<p>
    @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
